<h1> Donaste a</h1>



<p>
  <strong>Sangre:</strong>
  <%= @donacion.sangre %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @donacion.comentario %>
</p>

<p>
  <strong>Solved:</strong>
  <%= @donacion.solved %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @donacion.usuario.to_json %>
</p>

<p>
  <strong>Usuarios:</strong>
  <%= @donacion.usuario_id %>
</p>


