<%= javascript_include_tag "https://www.google.com.jsapi"%>
<%= javascript_include_tag "application", "chartkick" %>

<h1>Mis peticiones</h1>

<table>
  <thead>
    <tr>
      <th>Sangre</th>
      <th>Comentario</th>
      <th>Donador</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.sangre %></td>
        <td><%= post.comentario %></td>
     
<% if post.solved %>
<%= donador = Usuario.find(post.donador_id) %>
     
      <td><%=donador.nombre%></td>
       <td><%=donador.direccion%></td>
       <td><%=donador.telefono%></td>
      <td><%=donador.email%></td>

<% else %>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<% end %>   

        <td><%= link_to 'Cancelar', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>

 <% end %>
  </tbody>
</table>
<%= pie_chart Post.group(:sangre).count%>
<br>

<%= link_to 'Nueva Peticion', new_post_path %>